<!DOCTYPE html>
<html lang="nl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Qatar Museums</title>


  <!-- Laad de CSS-bestanden voor de andere pagina's -->
  
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/variabel.css">
  <link rel="stylesheet" href="/styles/gallery.css">
 

</head>
<body>
